/* Selector Universal */

* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Selector de ID */

#valor-id {
    border: 1px solid black;
}

/* Selector de Clase */

.class-name {
    color: blue;
}

/* Selector Descendiente */
.container * {
    width: 100%;
}

#header .logo {
    color: red;
}

/* Selector de Etiqueta o Elemento */
img {
    border-radius: 10px;
}

#header .logo img {
    border-radius: 100%;
}

header {

}

footer {

}

h1 {

}

/* Selector Adyacente */
header + div {
    border: 1px solid red;
}


/* Selector Hijo */
#header > p {
    color: violet;
}

/* Selector Hermano */

.container div ~ p {
    border: 1px solid green;
}

h3 ~ li {
    color: gray;
}

h3 ~ ul {
    margin: 0 10px;
}

ul h3 {
    color: brown;
}

/* Selector de Atributo */

a[href]{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: cadetblue;
    margin: 10px 10px;
}

a[class] { /* que este definido el atributo */
    color: red;
}

a[class=google]{ /* que tenga el valor */
    color: red;
}

a[class=facebook]{
    color: blue;
}

a[class=twitter]{
    color: lightblue;
}


a[class=instagram]{
    color: violet;
}

a[class*=oog]{ /* que contenga parte del valor */
    color: red;
}

a[class~=google]{ /* que contenga el valor */
    color: red;
}

a[href^=https]{ /* que comience con el valor */
    color: red;
}

img[src$=".png"]{ /* que comience con el valor */
    border: 10px solid black;
}

a:hover {
    color: gray;
}

input[type=checkbox]:checked {
    border: 1px solid black;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
}

.box::after {
    content: "Hola";
    color: blue;
    display: block;
    position: relative;
    text-align: right;
    width: 100%;
    height: 100%;
}

.box::before {
    content: "hola";
    display: block;
    text-align: center;
}

p::first-letter {
    float: left;
    font-size: 3em;
    font-weight: bold;
    font-family: cursive;
    padding-right: 4px;
}

p::first-line {
    font-weight: bold;
    font-size: 1.2em;
}

.links {
    background-color: grey;
}

.links a {
    display: inline-block;
}

.links a:last-child {
    color: blue;
    float: right;
    padding-right: 5px;
}

.links a:nth-child(1) {
    color: red;
    float: right;
    padding-right: 5px;
}

input {
    padding: 10px;
    outline: none;
    font-style: italic;
    font-size: 20px;
}

input::placeholder {
    color: grey;
    font-style: italic;
    font-size: 20px;
}
